body {
  background-color: bisque;
}
.box{
  background-color: bisque;
  font-size: 50px;
  height: 400px;
  width: 350px;
  /* border: 10px solid; */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;

}

.b1{
  background-color: bisque;
  height: 70px;
  width: 70px;
  position: relative;
  padding: 0px;
  border: 1px solid;
  font-size: 30px;
  border-radius: 50%;
}
.b2 {
  background-color: bisque;
  height: 70px;
  width: 70px;
  position: relative;
  
  border: 1px solid;
  font-size: 30px;
  border-radius: 50%;
}

.me {
  color: skyblue;
  font-size: 100px;
}